[Unit]
Description=PER LOGGING SERVICE
# To be placed in /etc/systemd/system
# use sudo systemctl enable daq_logging.service to enable 
# or replace enable with disable to disable, or start or stop
# or status to check status 
# Don't forget either run canup.sh or run it in the /etc/rc.local on startup

[Service]
Type=simple
User=ubuntu
Environment="TERM=linux"
WorkingDirectory=/home/ubuntu/DAQ
ExecStart=sudo /usr/bin/python3 /home/ubuntu/DAQ/logger.py
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
